
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app{
    .container{

        //LOGIN & REGISTER 
        .auth {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color:rgb(200, 248, 241);
            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }
            form {
                display: flex;
                flex-direction: column;
                padding: 10px;
                background-color: white;
                width: 250px;
                gap: 20px;

                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }
            }
        } 

    }
}